body
{
  background: url("https://i1.faceprep.in/ProGrad/greeting-background.png");
 background-size: cover;
  background-color: orangered;
  font-family: 'Nunito sans';
}

.card{
  height: 80vh;
  width: 80vw;
  background: url("https://i1.faceprep.in/ProGrad/super-hero-background.png")repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: fixed;
  margin: 10vh 12vh;
}

#superhero{
  width: 40%;
  min-width: 250px;
  margin-bottom: 20px;
}

.button{
  width:100px;
  height:30px;
  background: black;
  color: white;
  position: fixed;
  margin-top: 230px;
  font-size: 12px;
}

#back{
  visibility: hidden;
}
